.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-right: auto;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}

.header-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contact-list .item + .item {
  margin-left: 50px;
}

.header-contact-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list .mail:hover,
.header-contact-list .mail:focus {
  fill: var(--accent-color);
}

.header-contact-list .phone:hover,
.header-contact-list .phone:focus {
  fill: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.main-nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-two {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.logo-three {
  color: var(--bg-color);
}

.main-nav .text {
  line-height: 1.38;
}

.footer .text {
  line-height: 1.17;
}

.header a:hover,
.header a:focus,
.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */