.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.hero-btn, .footer__btn-send, .works__secondary-btn,
.works__btn-all {
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-right: auto;
}

.header__site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__site-nav .current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__site-nav a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.header__header-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__item-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon-mail,
.header__icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header a:hover,
.header a:focus {
  color: #2196f3;
}

.header__logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo-two {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.header__main-nav .header__text {
  line-height: 1.38;
}

.footer__logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.footer__text {
  line-height: 1.17;
}

.footer__logo-three {
  color: #ffffff;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  width: 696px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 0 0 30px 0;
}

.hero-btn {
  line-height: 1.8;
  padding: 10px 32px;
  display: block;
  margin: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.footer__btn-send {
  line-height: 1.87;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 200px;
  height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__secondary-btn,
.works__btn-all {
  background-color: #f5f4fa;
  color: #212121;
  line-height: 1.62;
  font-weight: 500;
  padding: 6px 22px;
  display: block;
  min-width: 73px;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__secondary-btn:hover, .works__secondary-btn:focus, .works__secondary-btn:hover, .works__secondary-btn:focus,
.works__btn-all:hover,
.works__btn-all:focus,
.works__btn-all:hover,
.works__btn-all:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f;
          box-shadow: 0px 2px 2px 0px #0000001f;
  -webkit-box-shadow: 0px 1px 2px 0px #00000014;
          box-shadow: 0px 1px 2px 0px #00000014;
  -webkit-box-shadow: 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 3px 1px 0px #0000001a;
}

.works__btn-all {
  background-color: #2196f3;
  color: #ffffff;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * 30px);
}

.features__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.features__icons-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features__icons {
  width: 70px;
  height: 70px;
}

/* 
.features-list .item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--btn-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

/* .icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__description {
  color: #757575;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
}

.we-do {
  padding-bottom: 94px;
}

.we-do__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.we-do__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * 30px);
}

.we-do__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.we-do__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.we-do__txt {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.our-team__title {
  color: #212121;
  line-height: 1.17;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.our-team__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * 30px);
}

.our-team__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.our-team__card-content {
  padding: 30px 32px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}

.our-team__prof {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 16px;
}

.our-team__links-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team__bg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__bg-link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.our-team__link:not(:last-child) {
  margin-right: 10px;
}

.our-team__social-link {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.clients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.clients__regular-clients {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients__our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * 30px);
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 6 - 30px);
      flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover {
  border: 1px solid #2196f3;
}

.clients__item:hover .clients__icon {
  fill: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a:hover,
.footer a:focus {
  color: #2196f3;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__adress a {
  color: #ffffff;
  line-height: 1.17;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact-list {
  line-height: 1.17;
  font-size: 14px;
}

.footer__text {
  margin-bottom: 20px;
}

.footer__adress {
  margin-bottom: 9px;
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__join {
  margin-left: 70px;
  margin-right: 93px;
}

.footer__join-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__links-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__bg-link:hover {
  background-color: #2196f3;
}

.footer__link:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer__subs-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__subs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subscribe ::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe :-ms-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe ::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe ::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subs-mail {
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 20ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 20ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 20ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 20ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 20ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: none;
  border-radius: 50%;
  border: 1px solid #0000001a;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  fill: black;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.modal__form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal__form-field:nth-child(5) {
  margin-bottom: 0;
}

.modal__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__position {
  position: relative;
  display: inline-block;
}

.modal__form-label {
  display: inline-block;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.modal__form-input {
  display: inline-block;
  padding: 11px 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea {
  display: inline-block;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea:focus-within,
.modal__form-textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__form-textarea:not(:placeholder-shown) {
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field:focus-within .modal__icon,
.modal__form-field:hover .modal__icon,
.modal__form-input:not(:placeholder-shown) + .modal__icon {
  fill: #2196f3;
}

.modal__form-input:focus-within,
.modal__form-input:hover,
.modal__form-input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__btn-send {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 55px;
  display: block;
  margin: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-send:hover,
.modal__btn-send:focus {
  background-color: #188ce8;
}

.modal__check-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__agreement {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__agreement-two {
  display: inline-block;
  color: #2196f3;
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-label {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox-label {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(./images/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works__btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.works__btn-text .works__item:not(:last-child) {
  margin-right: 8px;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.pictures__card-thumb {
  position: relative;
  overflow: hidden;
}

.pictures__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures__overlay-txt {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.pictures__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures__item:hover, .pictures__item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.pictures__item:hover .pictures__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pictures__border {
  border: 1px solid #eeeeee;
}

.pictures__card-content {
  padding: 20px 24px;
}

.pictures__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.pictures__description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */