// GENERAL BUTTON

// HERO BUTTON
.hero-btn {
  @extend %btn;
  line-height: 1.8;
  padding: 10px 32px;
  display: block;
  margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-btn-hover-color;
  }
}
// FOOTER BUTTON
.footer__btn-send {
  @extend %btn;

  line-height: 1.87;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 28px;
  display: flex;
  margin: auto;
  width: 200px;
  height: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// PORTFOLIO BUTTONS

.works__secondary-btn,
.works__btn-all {
  @extend %btn;
  background-color: $btn-bg-color;
  color: $title-text-color;
  line-height: 1.62;
  font-weight: 500;
  padding: 6px 22px;
  display: block;
  min-width: 73px;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $bg-color;
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }
}

.works__btn-all {
  @extend %btn;
  background-color: $accent-color;
  color: $bg-color;
}
