.clients {
  background-color: $bg-color;

  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.clients__regular-clients {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients__our-clients {
  display: flex;
  margin-left: calc(-1 * #{$picMargin});
}

.clients__item {
  flex-basis: calc(100% / 6 - #{$picMargin});
  margin-left: $picMargin;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $accent-color;
  }

  &:hover .clients__icon {
    fill: $accent-color;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
