.header__header-nav {
  display: flex;
  text-align: center;
  justify-content: center;
}

.header__main-nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: auto;
}

.header__site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
}

.header__site-nav .current {
  color: $accent-color;

  position: relative;
}

.current::after {
  content: '';

  position: absolute;

  bottom: -3px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}

.header__site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header__site-nav a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
}

.header__header-contact-list {
  display: flex;

  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__item-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;

  color: $text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon-mail,
.header__icon-phone {
  margin-right: 10px;

  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}
