.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: $bg-color;
  width: 696px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 0 0 30px 0;
}
