.our-team {
  background-color: $secondary-bg-color;

  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.our-team__title {
  color: $title-text-color;
  line-height: 1.17;
  text-align: center;
  $fontWtitle: 700;
  font-size: 36px;
  margin-bottom: 50px;
}
.our-team__foto {
  display: flex;
  margin-left: calc(-1 * #{$picMargin});
}
.our-team__item {
  flex-basis: calc(100% / 4 - #{$picMargin});
  margin-left: $picMargin;
  background-color: $bg-color;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.our-team__card-content {
  padding: 30px 32px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}

.our-team__prof {
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 16px;
}

.our-team__links-set {
  display: flex;
  justify-content: center;
}

.our-team__bg-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;

  border-radius: 50%;

  width: 44px;
  height: 44px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $bg-color;
    background-color: $accent-color;
  }
}

.our-team__link:not(:last-child) {
  margin-right: 10px;
}

.our-team__social-link {
  fill: currentColor;

  width: 20px;
  height: 20px;
}
