.pictures {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * #{$picMargin});
  margin-top: calc(-1 * #{$picMargin});
}

.pictures__card-thumb {
  position: relative;

  overflow: hidden;
}

.pictures__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures__overlay-txt {
  position: absolute;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $bg-color;
}

.pictures__item {
  flex-basis: calc(100% / 3 - #{$picMargin});
  margin-left: $picMargin;
  margin-top: $picMargin;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:hover .pictures__overlay {
    transform: translateY(0);
  }
}

.pictures__border {
  border: 1px solid #eeeeee;
}

.pictures__card-content {
  padding: 20px 24px;
}

.pictures__title {
  color: $title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.pictures__description {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
