$title-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$btn-bg-color: #f5f4fa;
$bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$primary-btn-hover-color: #188ce8;

$picMargin: 30px;

$fontWtitle: 700;
